$theme-blue: #5ca1ff;
$theme-blue-hover: #5390e6;
* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
}
video {
  position: fixed;
  right: 0px;
  bottom: 0px;
  min-width: 100%;
  min-height: 100%;
  height: auto;
  width: auto;
  /*加滤镜*/
  /*filter: blur(15px); //背景模糊设置 */
  /*-webkit-filter: grayscale(100%);*/
  /*filter:grayscale(100%); //背景灰度设置*/
  z-index: -11;
}
source {
  min-width: 100%;
  min-height: 100%;
  height: auto;
  width: auto;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  height: 100vh;
  .bg {
    position: absolute;
    z-index: -1;
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    transition: 0.4s;
  }
  .search {
    transition: all 0.5s;
    background: white;
    border: 1px solid #dfe1e5;
    width: 582px;
    height: 44px;
    border-radius: 23px;
    margin-top: 35vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .search-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 34px;
      height: 34px;
      margin: 0 8px;
      color: #4e6ef2;
    }

    .search-input {
      flex-grow: 1;
      outline: none;
      background-color: transparent;
      font-size: 16px;
      line-height: 34px;
      height: 34px;
      border: none;
      transform: translateY(0.05em);
    }

    .search-button {
      color: #9aa0a6;
      display: flex;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
      margin: 0 8px;
      width: 34px;
      height: 34px;
      border-radius: 17px;
      border: none;
      outline: none;

      .search-submit {
        position: absolute;
        width: 34px;
        height: 34px;
        border-radius: 17px;
        outline: none;
        opacity: 0;
        cursor: pointer;
      }
      &:hover {
        .icon {
          color: $theme-blue-hover;
        }
      }
    }
  }

  .bookmark-list {
    max-height: 230px;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(32px);
    width: 582px;
    flex-wrap: wrap;
    margin-top: 24px;
    // &::-webkit-scrollbar {
    //   display: none;
    // }
    .bookmark-item {
      &.disappear {
        animation: disappear 1s;
      }
      position: relative;
      margin: 4px;
      padding: 6px;
      width: 56px;
      height: 56px;
      &.dragging {
        display: none;
      }
      .bookmark-link {
        &:hover {
          box-shadow: 0 0 0 2px rgba(150, 150, 150, 0.75);
        }
        transition: all 0.5s;
        background: white;
        display: inline-block;
        color: inherit;
        text-decoration: none;
        border: 1px solid white;
        border-radius: 50%;
        width: 56px;
        height: 56px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        .bookmark-icon {
          width: 32px;
          height: 32px;
        }
        .bookmark-add {
          color: gray;
        }
      }
      &:hover {
        .bookmark-delete {
          color: #e84141;
          opacity: 1;
        }
      }
      .bookmark-delete {
        transition: all 0.6s;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 10;
        width: 14px;
        height: 14px;
        cursor: pointer;
        opacity: 0;
      }
    }
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  .star-wrapper {
    z-index: -1;
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;

    .star-surround {
      // border: gray 1px solid;
      width: 600px;
      height: 600px;
      animation: spin 10s linear infinite;
      position: relative;

      .star {
        z-index: 1;
        width: 40px;
        height: 40px;
        position: absolute;
        left: 0;
        top: 0;
      }

      .cat {
        z-index: 1;
        width: 80px;
        height: 80px;
        position: absolute;
        left: 0;
        bottom: 0;
      }
    }
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .setting-btn {
    position: absolute;
    top: 4px;
    right: 12px;
    cursor: pointer;
    &:hover {
      .icon {
        animation: spin 2s linear infinite;
        color: #bbb;
      }
    }
    .icon {
      height: 20px;
      width: 20px;
      color: #ddd;
    }
  }
  .setting-window {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 28px;
    right: 24px;
    background: white;
    border-radius: 5px;
    transition: all 0.3s;
    transform-origin: top right;

    &.disappear {
      transform: scale(0);
      opacity: 0;
    }
    .setting-window-item {
      transition: all 0.3s;
      font-size: 14px;
      padding: 12px 0px 12px 20px;
      min-width: 100px;
      cursor: pointer;
      &:hover {
        color: $theme-blue-hover;
      }
    }
  }
  .setting-background {
    background: white;
    width: 600px;
    min-height: 500px;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: scale(1) translate(-50%, -50%);
    transform-origin: top right;
    transition: all 0.25s linear;
    &.disappear {
      transform: scale(0) translate(-50%, -50%);
      opacity: 0;
    }
    .setting-background-content {
      padding: 40px 70px;
      .content-title {
        font-size: 25px;
        font-weight: bold;
      }
      .setting-background-item {
        padding-top: 24px;
        .item-title {
          font-size: 18px;
          font-weight: bold;
        }
        .import-wrapper {
          display: flex;
          padding-top: 12px;
          .import-image {
            width: 135px;
            height: 90px;
            border-radius: 6px;
            border: 1px solid #ddd;
            object-fit: cover;
            cursor: pointer;
            &.image-selected {
              -webkit-filter: brightness(0.6);
              filter: brightness(0.6);
            }
            &:hover {
              -webkit-filter: brightness(0.6);
              filter: brightness(0.6);
            }
          }
          .import-text {
            padding: 0px 24px;
            .import-describe {
              font-size: 16px;
              font-weight: bold;
            }
            .import-describe-sub {
              padding-top: 2px;
              font-size: 14px;
              color: gray;
            }
            .import-file {
              display: none;
            }

            .import-file-button {
              cursor: pointer;
              margin: 12px 0 0 0;
              font-weight: bold;
              width: 105px;
              height: 35px;
              background: $theme-blue;
              color: white;
              border-radius: 5px;
              border: none;
              outline: none;
            }
          }
        }
        .image-wrapper {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding-top: 12px;
          .image-item {
            width: 135px;
            height: 90px;
            border-radius: 6px;
            border: 1px solid #ddd;
            object-fit: cover;
            cursor: pointer;
            &:hover {
              -webkit-filter: brightness(0.6);
              filter: brightness(0.6);
            }
            &.image-selected {
              -webkit-filter: brightness(0.6);
              filter: brightness(0.6);
            }
          }
        }
      }
    }
    .setting-background-close {
      position: absolute;
      top: 12px;
      right: 12px;
      color: #999;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 20px;
      height: 20px;
      .icon {
        width: 15px;
        height: 15px;
      }
      &:hover {
        color: $theme-blue-hover;
      }
    }
  }
  .setting-about {
    background: white;
    width: 600px;
    min-height: 500px;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: scale(1) translate(-50%, -50%);
    transform-origin: top right;
    transition: all 0.25s linear;
    &.disappear {
      transform: scale(0) translate(-50%, -50%);
      opacity: 0;
    }
    .setting-about-content {
      padding: 40px 70px;
      .about-title {
        font-size: 25px;
        font-weight: bold;
      }
      .about-content {
        padding: 24px 0;
        .describe-title {
          font-size: 18px;
          font-weight: bold;
          line-height: 24px;
        }
        .describe-section {
          padding-top: 12px;
          padding-bottom: 24px;
          .describe-span {
            font-size: 15px;
            line-height: 24px;
            color: #555;
            font-weight: bold;

            a {
              text-decoration: underline;
              cursor: pointer;
            }
          }
        }
      }
    }
    .setting-about-close {
      position: absolute;
      top: 12px;
      right: 12px;
      color: #999;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 20px;
      height: 20px;
      .icon {
        width: 15px;
        height: 15px;
      }
      &:hover {
        color: $theme-blue-hover;
      }
    }
  }
}
